@import "tailwindcss";

@plugin "@tailwindcss/typography";

/* Font */
/* https://docs.astro.build/zh-cn/guides/fonts/ */
@theme {
    --font-sans: 'Georgia', 'sans-serif';
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 999px;
}

body {
    background-size: 7px 7px;
    background-image:
        /* linear-gradient(to right, #f4f4f4 1px, transparent 1px),
        linear-gradient(to bottom, #f4f4f4 1px, transparent 1px); */
        radial-gradient(#e9e9e9 .75px, #fff .75px)
}