---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Friends";
---

<div class="min-h-screen flex flex-col">
    <BaseLayout pageTitle=`Nin3's ${pageTitle}`>
        <div class="w-96 md:w-[45rem] lg:w-[60rem] mx-auto flex flex-col my-9">
            <p class="text-2xl">{pageTitle}</p>
            <main class="grid grid-cols-2 md:grid-cols-3 gap-6">
                <section class="aspect-square bg-slate-100">1st</section>
                <section class="aspect-square bg-slate-100">2nd</section>
                <section class="aspect-square bg-slate-100">3rd</section>
                <section class="aspect-square bg-slate-100">4th</section>
                <section class="aspect-square bg-slate-100">5th</section>
                <section class="aspect-square bg-slate-100">6th</section>
            </main>
        </div>
    </BaseLayout>
</div>
