---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
const pageTitle = "Post";
---

<BaseLayout pageTitle=`Nin3's ${pageTitle}`>
    <div class="w-96 md:w-[45rem] lg:w-[60rem] mx-auto flex flex-col my-9">
        <p class="text-2xl">{pageTitle}</p>
        <ul>
            {
                allPosts.map((post) => (
                    <li>
                        <a href={post.slug}>{post.data.title}</a>
                    </li>
                ))
            }
        </ul>
    </div>
</BaseLayout>
