<header class="bg-green-200">
    <div class="w-96 md:w-[45rem] lg:w-[60rem] mx-auto">
        <nav class="bg-green-100 flex justify-between">
            <a href="/">Home</a>
            <div class="flex gap-2">
                <a href="/post/">post</a>
                <a href="/tag/">tag</a>
                <a href="/friend/">friend</a>
                <a href="/about/">about</a>
            </div>
        </nav>
    </div>
</header>
