<div
  class="prose prose-img:rounded-xl prose-figure:text-center prose-figcaption:mt-3 prose-img:m-auto max-w-none prose-a:hover:text-blue-500 prose-a:duration-200 prose-a:not-italic"
>
  <slot />
</div>
