---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import { slide } from "astro:transitions";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
    <head>
        <!-- General meta tag -->
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=1"
        />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Nin3's personal site for blog, sharing about UI Design, web development"
        />
        <ClientRouter />
        <title>{pageTitle}</title>
    </head>
    <body class="min-h-screen flex flex-col">
        <Nav />
        <div transition:animate={slide({ duration: "0.4s" })}>
            <slot />
        </div>
        <Footer />
    </body>
</html>
