---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
    <head>
        <!-- General meta tag -->
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=1"
        />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Nin3's personal site for blog, sharing about UI Design, web development"
        />
        <title>{pageTitle}</title>
    </head>
    <body class="min-h-screen flex flex-col bg-[#f9f9f9]">
        <Nav />
        <slot />
        <Footer />
    </body>
</html>
